<div class="content-abbout">

  <div class="text-abbout-me">
    <h1 class="clase-t"><strong>Conocimientos y Habilidades</strong></h1>
  </div>

  <div class="content">
    <div class="container"> <!--CSS, HTML, TS, Java, SrpingBoot?-->
      <div class="card">
        <div class="percent" style="--clr:#04fc43;--num:55;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>55<span>%</span></h2>
            <p>HTML</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="percent" style="--clr:red;--num:40;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>40<span>%</span></h2>
            <p>CSS</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="percent" style="--clr:#045bfc;--num:35;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>35<span>%</span></h2>
            <p>TS</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="percent" style="--clr:#fc9104;--num:60;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>60<span>%</span></h2>
            <p>JAVA</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="percent" style="--clr:#04f4fc;--num:40;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>40<span>%</span></h2>
            <p>SQL</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="percent" style="--clr:#eb04fc;--num:60;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>60<span>%</span></h2>
            <p>C++</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="percent" style="--clr:#fcf004;--num:55;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>55<span>%</span></h2>
            <p>SCRUM</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="percent" style="--clr:#750bf8;--num:45;"> <!-- 440 = 0, 0 = 100, tener en cuenta, aca cambio el tamano del circulo-->
          <div class="dot"></div>
          <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
          </svg>
          <div class="number">
            <h2>45<span>%</span></h2>
            <p>Spring Boot</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="text-abbout-me">
    <h1><strong>Quien Soy</strong></h1>
  </div>
  <section class="abbout">
    <div class="main">
      <img src="../../../assets/img/FotoCV.png" alt="Javier Siñuka - PIC">
      <div class="about-text">
        <h5>Desarrollador Full Stack <span> & Estudiante Ingenieria en Computacion</span></h5>
        <p>
          Mi nombre es Javier Siñuka, soy estudiante de Ingenieria en Computacion en la Facultad de Ciencias Exactas, Fisicas y Naturales
          de la Universidad Nacional de Cordoba, Argentina.
          Actualmente me encuntro cursando el 50% de dicha carrera, en la cual tuve la suerte y el agrado de conocer distintos
          lenguajes de programacion, siendo estos Java, C, C++, Python, entre otros, por lo cual mi conocimiento de los mismos
          es un poco mas alto que los referidos a la parte visual de una Pagina (siendo estos HTML, CSS y Js/Ts).
          Gracias al programa de desarrollo "Argentina Programa", pude expandir mas mis conocimientos sobre estas areas, las
          cuales me generaban intriga durante el cursado de mi respectiva carrera, ya que la misma no esta abocada a dicho desarrollo,
          por lo cual me siento mas comodo desarrollando proyectos del lado del Back End.
        </p>
      </div>
    </div>
  </section>

  <app-contact-me></app-contact-me>
</div>





