*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*div{*/
/*  height: 1080px;*/
/*  color: white;*/
/*}*/
.content{ /*Seria el Body*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}
@media (max-width: 960px) {
  .content{
    padding-top: 2rem;
  }
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.container .card{
  position: relative;
  width: 220px;
  height: 250px;
  background: #29323c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .percent{
  position: relative;
  width: 150px;
  height: 150px;
}
.container .card .percent svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
.container .card .percent svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px,5px);
}
.container .card .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440px;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.dot{
  position: absolute;
  inset: 5px;
  z-index: 10;
  /*360deg / 100 = 3.6*/
  animation: animateDot 2s linear forwards;
}
@keyframes animateDot {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
.dot::before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--clr);

  box-shadow: 0 0 10px var(--clr),
0 0 30px var(--clr);
}
.number{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}
.number h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 2.5em;

}
.number h2 span{
  font-weight: 300;
  color: white;
  font-size: 0.5em;
}
.number p{
  font-weight: 300;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.75);
}

/******************************************/
.text-abbout-me{
  color: white;
  padding-top: 4rem;
}
.text-abbout-me h1 strong{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-shadow: 0px 9px 7px #515a6c;
}
.text-abbout-me .clase-t{
  padding-top: 1rem;
}
@media (max-width: 720px) {
  .text-abbout-me h1 strong{
    font-size: 2.2rem;
  }
}
.content-abbout{
  padding-top: 7rem;
}

/*******************************************/
.abbout{
  width: 100%;
  padding: 78px 0px;
}
.abbout img{
  height: auto;
  width: 420px;
  border-radius: 50px;
}
@media (max-width: 960px) {
  .abbout img{
    height: auto;
    width: 290px;
    border-radius: 50px;
  }
}
.about-text{
  width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h5{
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
span{
    color: rgba(4, 244, 252, 0.76);
}
.about-text p{
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
@media (max-width: 720px) {
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-text{
    padding-left: 1rem;
  }
  .abbout img{
    height: auto;
    width: 150px;
    border-radius: 100px;
  }
  .about-text h5{
    padding-top: 15px;
  }
}

/*********************** HABILIDADES ********************/
.backgronund-col{
  padding: 1rem;
}
.experience-info{
  padding-top: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}
h3 strong{
  text-shadow: 0px 7px 5px #515a6c;
}
.pad{
  padding-bottom: 0.5rem ;
}
.experience-info .content-expose h3{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.experience-info .content-expose .back-cute p{
  padding-top: 0.4rem;
  font-size: 18px;
}
.back-cute{
  background: #535b6e;
  padding: 7px;
  border-radius: 10px;
  width: 550px;
  box-shadow: 0px 6px 35px -8px rgba(0,0,0,0.75);
}


