*{
  box-sizing: border-box;
}
div{
  height: 1080px;
  color: white;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}
div .signup-box{
  width: 420px;
  height: 670px;
  margin: auto;
  background-color: #515a6c;
  border-radius: 3px;
}
h1{
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
  text-shadow: 0px 7px 7px #2f3944;
}
h4{
  text-align: center;
  padding-top: 10px;
}
.form{
  width: 100%;
  max-width: 300px;
  margin-left: 20px;
  display: grid;
  grid-template-columns:  repeat( auto-fill, minmax(380px, 1fr) );
 /*Puse yo esto, rompe todo, pero es para testear*/
 /* position: relative;*/
 /* overflow: hidden;*/
}
/*Puse yo para testear*/
/*.form input{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: none;*/
/*  color: #fff;*/
/*  padding-top: 20px;*/
/*  border: none;*/
/*  outline: 0px;*/
/*}*/
/*.form .lbl-nombnre{*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  pointer-events: none;*/
/*  border-bottom: 1px solid #c7c7c7;*/
/*}*/
/*.form .lbl-nombnre:after{*/
/*  content: '';*/
/*  position: absolute;*/
/*  left: 0;*/
/*  bottom: -1px;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border-bottom: 1px solid #2ecece;*/
/*  transform: translateY(-100%);*/
/*  transition: all 0.3s ease;*/
/*}*/
/*.text-nombre{*/
/*  position: absolute;*/
/*  bottom: 5px;*/
/*  left: 0;*/
/*  transition: all 0.3s ease;*/
/*  color: #ffffff;*/
/*}*/
/*.form input:focus + .lbl-nombnre .text-nombre,*/
/*.form input:valid + .lbl-nombnre .text-nombre{*/
/*  transform: translateY(-150%);*/
/*  font-size: 14px;*/
/*  color: #2ecece;*/
/*}*/
/*.form input:focus + .lbl-nombnre:after,*/
/*.form input:valid + .lbl-nombnre:after{*/
/*  transform: translateX(0%);*/
/*}*/
/*Hasta aca*/
form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input{
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: #8c95b4;
}

form input[type="button"]{
  width: 380px;
  height: 65px;
  margin-top: 20px;
  border: none;
  background-color: #7be4e5;
}
.testing{
  /*padding-top: 14rem;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


