nav{
  width: 100%;
}

.logo{
  font-size: 2rem;
  color: whitesmoke;
}
.nav-bar-propio{
  margin: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0.001rem;
}


.clor{
  color: white;
  font-size: 2.5rem;
}
.color-nav{
  background-color: rgba(41, 50, 60, 0.95);
}

@media (max-width: 720px) {
  .clor{
    padding-bottom: 8px;
  }
  .container-fluid a .text-center .blockquote{
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-fluid a .text-center .blockquote{
    font-size: 1rem;
  }
}
@media (max-width: 300px) {
  .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}







