<nav class="navbar navbar-dark color-nav fixed-top nav-bar-propio">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <figure class="text-center">
        <blockquote class="blockquote logo">
          <p>PORTAFOLIO <strong>WEB</strong> - Argentina Programa</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          By <cite title="Source Title">Javier Siñuka</cite>
        </figcaption>
      </figure>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <i class="fa-solid fa-bars clor"></i>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">By Javier Siñuka</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-me">About Me</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/login">Log In</a></li>
              <li><a class="dropdown-item" href="/create-account">Create Account</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

