*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{ /*Seria el Body*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}
.acomodar{
  display: flex;
  flex-direction: column;
}
.jsont{
  padding-top: 2rem;
}
