<section>
  <div class="acomodar">
    <div>
      <td><button routerLink="/lista-experiencia" class="btn btn-outline-secondary"><i class="fa-solid fa-list"></i>Lista</button></td>
      <td><button routerLink="/nueva-experiencia" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i>Nueva Experiencia</button></td>
    </div>
    <ul>
      <li *ngFor="let experiencia of experiencias" style="color: white;"> {{experiencia.id}} </li>
    </ul>
    <div class="jsont">
      <table class="table table-dark table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre Exp.</th>
          <th scope="col">Modalidad Exp.</th>
          <th scope="col">Lugar Exp.</th>
          <th scope="col">Tiempo Exp.</th>
          <th scope="col">Contenido Exp.</th>
          <th scope="col">Editar</th>
          <th scope="col">Borrar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let experiencia of experiencias">
          <td>{{experiencia.id}}</td>
          <td>{{experiencia.nombreExp}}</td>
          <td>{{experiencia.modalidadExp}}</td>
          <td>{{experiencia.lugarExp}}</td>
          <td>{{experiencia.tiempoExp}}</td>
          <td>{{experiencia.contenidoExp}}</td>
          <td><button class="btn btn-outline-warning" routerLink="/editar/{{experiencia.id}}"><i class="fa-solid fa-pen-to-square"></i>Editar</button></td>
          <td><button class="btn btn-outline-danger" (click)="borrar(experiencia.id)"><i class="fa-solid fa-trash"></i>Eliminar</button></td>
        </tr>
        </tbody>
      </table>
<!--      {{experiencias | json}}-->
    </div>
  </div>


</section>

