<main>
  <div class="row texto-turing">
    <div class="container text-center texto-inicial">
      <div class="row">
        <div class=" texto-inicial pad-p"> <strong><i class="texto-inicial-two">SOLO</i></strong> podemos ver poco del <strong class="texto-inicial-two">FUTURO</strong></div>
        <div class=" texto-inicial pad"> pero lo <strong><i class="texto-inicial-two">SUFICIENTE</i></strong> </div>
      </div>
      <div class="row">
        <div class="moving texto-inicial pad-d">para darnos cuenta de que hay <strong><i class="texto-inicial-two">MUCHO QUE HACER .</i></strong></div>
        <div class="row">
          <div class="autor"><cite title="Source Title"><strong>Alan Turing.</strong></cite></div>
        </div>
      </div>
    </div>

    <div class="container text-center welcome-text-ppl">
      <div class="row">
        <div class="col-4 col-sm-4 inter">
          <div class="cube">
            <div class="top"></div>
              <div>
                <span style="--i:0;">
<!--        <h3>Hi!</h3>-->
                <!--        <h3>Hi!</h3>-->
      </span>
                <span style="--i:1;">
<!--        <h3>Hi!</h3>-->
              <!--        <h3>Hi!</h3>-->
      </span>
                <span style="--i:2;">
<!--        <h3>Hi!</h3>-->
              <!--        <h3>Hi!</h3>-->
      </span>
                <span style="--i:3;">
<!--        <h3>Hi!</h3>-->
              <!--        <h3>Hi!</h3>-->
      </span>
             </div>
          </div>
        </div>

        <div class="col-4 col-sm-4 welcome-text">
          <p><strong>Buenas!</strong></p>
          <br>
          <p>
            En el siguiente Portafolio Web podra observar las distintas habilidades
            en las cuales me desempeño a la hora de desarrollar una Pagina Web, mostrandose
            en el mismo el Desarrollo Front End, Back End y Bases de Datos, para lo cual
            le invito a que pueda recorrer dicho portafolio de forma libre y gratuita.
          </p>
          <br>
        </div>
      </div>
    </div>

    <div class="container text-center welcome-text-ppl-2">
      <div class="row">
        <div class="col-6 col-sm-4 welcome-text-2 ">
          <br>
          <p>
            El presente fue desarrollado en base a lo aprendido en el curso
            libre y gratuito dictado por el INTI, propuesto por el
            Gobierno Nacional Argentino, en el marco del programa
            Argentina Programa, que busca capacitar de manera gratuita a los
            Argentinos para hacer crecer el numero de desarrolladores que existen
            en el Pais, brindando de esta manera una salida laboral a los mismos.
          </p>
          <br>
        </div>

        <div class="col-6 col-sm-4 inter-2">
          <div class="cube-2">
            <div class="top-2"></div>
            <div>
                <span style="--i:0;">
<!--        <h3>Hi!</h3>-->
                  <!--        <h3>Hi!</h3>-->
      </span>
              <span style="--i:1;">
<!--        <h3>Hi!</h3>-->
                <!--        <h3>Hi!</h3>-->
      </span>
              <span style="--i:2;">
<!--        <h3>Hi!</h3>-->
                <!--        <h3>Hi!</h3>-->
      </span>
              <span style="--i:3;">
<!--        <h3>Hi!</h3>-->
                <!--        <h3>Hi!</h3>-->
      </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-experience></app-experience>
    <app-contact-me></app-contact-me>
  </div>
</main>


