*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 5rem;
  /*height: 3240px; !* Aca modifique el alto, medio raro*!*/
}
.cube{
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}
@keyframes animate
{
  0%
  {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100%
  {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube div span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#29323c,aquamarine);
  transform: rotateY(calc(90deg * var(--i))) translateZ(75px); /*300px / 2 = 150px*/
  /*Aca configuramos las letras*/
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.cube div span h3{
  position: absolute;
  font-size: 5em;
  color: #fff;
  transform: translateZ(25px);
}
.cube div span h3:nth-child(1){
  transform: translateZ(0) translateY(10px);
  color: rgba(0, 0, 0, 0.1);
  filter: blur(3px);
}
.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #29323c;
  transform: rotateX(90deg) translateZ(75px);
}
.top:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: aquamarine;
  transform: translateZ(-200px);
  filter: blur(20px);
  box-shadow: 0 0 60px rgba(127, 255, 212, 0.2),
  0 0 100px rgba(127, 255, 212, 0.4),
  0 0 150px rgba(127, 255, 212, 0.4),
  0 0 200px rgba(127, 255, 212, 0.4),
  0 0 250px rgba(127, 255, 212, 0.4);
}

/******************************************************************************/
.cube-2{
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}
@keyframes animate
{
  0%
  {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100%
  {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube-2 div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.cube-2 div span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#29323c,#ff7f7f);
  transform: rotateY(calc(90deg * var(--i))) translateZ(75px); /*300px / 2 = 150px*/
  /*Aca configuramos las letras*/
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.cube-2 div span h3{
  position: absolute;
  font-size: 5em;
  color: #fff;
  transform: translateZ(25px);
}
.cube-2 div span h3:nth-child(1){
  transform: translateZ(0) translateY(10px);
  color: rgba(0, 0, 0, 0.1);
  filter: blur(3px);
}
.top-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #29323c;
  transform: rotateX(90deg) translateZ(75px);
}
.top-2:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #ff7f7f;
  transform: translateZ(-200px);
  filter: blur(20px);
  box-shadow: 0 0 60px rgba(255, 127, 127, 0.2),
  0 0 100px rgba(255, 127, 127, 0.4),
  0 0 150px rgba(255, 127, 127, 0.4),
  0 0 200px rgba(255, 127, 127, 0.4),
  0 0 250px rgba(255, 127, 127, 0.4);
}
/******************************************************************************/

.texto-ppl-home{
  padding: 7rem;
  color: white;
}
.texto-inicial{
  color: white;
  font-family: 'Rubik 80s Fade', cursive;
  font-size: 5rem;
  text-shadow: 0px 15px 7px #515a6c;
}
@media (max-width: 960px) {
  .texto-inicial{
    padding-top: 1rem;
    font-size: 3.5rem;
  }
  .texto-inicial-two{
    margin: 1rem;
  }
  .text-center{
    padding-bottom: 4rem;
  }
}
@media (max-width: 720px) {
  .texto-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-size: 2.7rem;
  }
  .texto-inicial .pad-p{
    padding-left: 0;
  }
  .texto-inicial-two{
    margin: 0;
  }
  .autor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 10rem;
  }
  .text-center{
    padding-bottom: 3rem;
  }
}
@media (max-width: 480px) {
  .texto-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 0;
  }
  .texto-inicial .pad-p{
    padding-left: 0;
  }
  .texto-inicial-two{
    margin: 0;
  }
  .autor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 29rem;
  }
  .text-center{
    padding-bottom: 1rem;
  }
  .texto-inicial .moving span::before{
    content: '\A';
  }
}

.texto-inicial-two{
  font-family: 'Permanent Marker', cursive;
}
.texto-inicial cite{
  font-size: 1.5rem;
}
.autor{
  text-align: right;
  padding-right: 5rem;
}
.texto-turing{
  padding-top: 8rem;
  padding-left: 3rem;
}
.moving{
  padding-left: 8rem;
}
.pad{
  padding-top: 2rem;
  padding-right: 3rem;
}
.pad-d{
  padding-top: 2rem;
  padding-right: 3rem;
}
.pad-p{
  padding-left: 2rem;
}

@media (max-width: 960px) {
  .pad-p{
    padding-right: 5.6rem;
  }
  .pad-d{
    padding-right: 5.6rem;
    padding-left: 3rem;
  }
  .autor{
    padding-right: 35rem;
  }
}
@media (max-width: 720px) {
  .pad-p{
    padding-right: 1rem;
  }
  .pad-d{
    padding-right: 5.6rem;
    padding-left: 3rem;
  }
}

/********************************************************/
.welcome-text-ppl{
  padding-top: 10rem;
  padding-bottom: 7rem;
}
@media (max-width: 960px) {
  .welcome-text-ppl{
    display: flex;
    flex-direction: column;
  }
}
div .welcome-text-ppl .row .inter{
  padding-left: 13rem;
}
.welcome-text{
  color: white;
  font-size: 1.5rem;
  width: 960px;
  padding-left: 2rem;
}
.welcome-text p strong{
  font-size: 2.2rem;
  text-shadow: 0px 7px 7px #515a6c;
}

.welcome-text-2{
  color: white;
  font-size: 1.5rem;
  width: 960px;
  padding-left: 2rem;
}
.inter-2{
  padding-left: 15rem;
}
.welcome-text-ppl-2{
  padding-left: 12rem;
  padding-top: 3rem;
  padding-bottom: 7rem;
}

@media (max-width: 960px) {
  .welcome-text-ppl{
    display: grid;
    grid-column: auto;
    padding-top: 7rem;
    padding-bottom: 0;
    padding-left: 15rem;
  }

  .welcome-text-ppl .inter{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 17rem;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .welcome-text{
    padding-top: 5rem;
    padding-right: 22rem;
  }

  .welcome-text-ppl-2 .inter-2{
    padding-top: 4rem;
    padding-bottom: 10rem;
    padding-right: 13rem;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .welcome-text-2{
    padding-right: 14rem;
  }
  .welcome-text-ppl-2{
    display: grid;
    grid-column: auto;
    padding-top: 2rem;
    padding-bottom: 0;
    padding-left: 12rem;
  }
}
@media (max-width: 720px) {
  .welcome-text-ppl{
    padding-right: 0;
  }
  .welcome-text{
    font-size: 1.5rem;
    padding-left: 3rem;
  }
  .welcome-text-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 17rem;
    padding-left: 4rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .welcome-text-ppl{
    width: 100%;
    padding-right: 0;
  }
  .welcome-text{
    font-size: 1rem;
    padding-left: 3rem;
  }
  .welcome-text-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 17rem;
    padding-left: 4rem;
    padding-bottom: 3rem;
    font-size: 1rem;
  }
}
/********************************************************/

.texto-turing app-build-proyects{
  padding-top: 0;
  padding-bottom: 0;
}
.texto-turing app-contact-me{
  padding-top: 0;
  padding-bottom: 0;
}
