<section>
  <div class="heading"><strong>Proyectos</strong> Realizados</div>
  <div class="wrapper">
    <div class="container">
      <div class="project">
        <div class="imgBox">
          <img src="../../../assets/img/juegoRol.jpg" alt="Juego de Rol">
        </div>
        <h2><strong>Juego de Rol - TEJ</strong></h2>
      </div>
      <p><span class="fa fa-quote-left left"></span> Realizacion de un juego interactivo de Rol
        en lenguaje Java para una materia de la carrera, actualmente se encuentra en desarrollo.<span class="fa fa-quote-right right"></span></p>
      <div class="link-projects">
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Javier-Sinuka/Grupo-TEJ-IdS" role="button"
        ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>

    <div class="container">
      <div class="project">
        <div class="imgBox">
          <img src="../../../assets/img/alg1.jpg" alt="Algoritmos1">
        </div>
        <h2><strong>Algoritmos y Estructura de Datos - TP3</strong></h2>
      </div>
      <p><span class="fa fa-quote-left left"></span> Proyecto realizado para una entrega de trabajo
        de una materia de mi carrera, en la cual trabajos con Grafos, con lenguaje C++.<span class="fa fa-quote-right right"></span></p>
      <div class="link-projects">
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Javier-Sinuka/TP_3_Algoritmos/tree/js-testing" role="button"
        ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>

    <div class="container">
      <div class="project">
        <div class="imgBox">
          <img src="../../../assets/img/alg2.jpg" alt="Algoritmo2">
        </div>
        <h2><strong>Algoritmos y Estructura de Datos - TP2</strong></h2>
      </div>
      <p><span class="fa fa-quote-left left"></span> Proyecto realizado para una entrega de trabajo
        de una materia de mi carrera, en la cual trabajos con Arboles, con leguaje C++.<span class="fa fa-quote-right right"></span></p>
      <div class="link-projects">
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Javier-Sinuka/TP_2_Algoritmos/tree/branch-js" role="button"
        ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
  </div>
</section>
