<section class="contact">
  <div class="content">
    <h2>Contactame</h2>
    <p>
      Si estas interesado en contactarme, te dejo el siguiente formulario
      para que puedas hacerlo. Espero tu mensaje!
    </p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon">
          <i class="fa-solid fa-map"></i>
        </div>
        <div class="text">
          <h3>Direccion</h3>
          <p>Avenida Colon 1800,<br>Cordoba,Argentina,<br>5500 CP</p>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="text">
          <h3>Celular</h3>
          <p>+54-3755-548238</p>
        </div>
      </div>
      <div class="box">
        <div class="icon">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="text">
          <h3>Email</h3>
          <p>javier_sinuka@mi.unc.edu.ar</p>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form>
        <h2>Enviar Mensaje</h2>

        <div class="inputBox">
          <input type="text" name="" required="required">
          <span>Full Name</span>
        </div>

        <div class="inputBox">
          <input type="email" name="" required="required">
          <span>Email</span>
        </div>

        <div class="inputBox">
          <textarea required="required"></textarea>
          <span>Escribe tu mensaje...</span>
        </div>

        <div class="inputBox">
          <input type="submit" name="" value="Enviar">
        </div>
      </form>
    </div>
  </div>
</section>
