*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact{
  position: relative;
  min-height: 100vh;
  padding: 0px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-weight: 500;
  color: white;
  font-size: 3rem;
  text-shadow: 0px 9px 7px #515a6c;
  padding-bottom: 10px;
}
.contact .content p{
  font-weight: 300;
  font-size: 1.3rem;
  color: white;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: rgba(4, 244, 252, 0.76);
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #222a33;
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.contactForm h2{
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: rgba(0, 234, 246, 0.89);
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #43dfe7;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media (max-width: 991px) {
  .contact{
    padding: 50px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm{
    width: 100%;
  }
}
