<section class="container-fluid main-controller">
  <h2><strong>Formacion Academica</strong></h2>

  <div class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>Tecnico en Produccion Agropecuaria - IAS Pascual Gentilini</strong></h3>
      <div class="back-cute">
        <p>
          Formacion Secundaria en la Provincia de Misiones de la Republica Argentina, en el area de Produccion
          Agropecuaria, la cual consistio en 6 años cursado en el Instituto Agrotecnico Salesiano Pascual
          Gentilini.
        </p>
      </div>
    </div>
  </div>

  <div class="container-flui experience-info">
    <div class="content-expose">
      <h3><strong>Ingenieria en Computación - FCEFyN - UNC (Cursando Actualmente)</strong></h3>
      <div class="back-cute">
        <p>
          Actualmente me encuentro cursando la carrera de Ingenieria en Computacion en la Facultad de Ciencias
          Exactas, Fisicas y Naturales de la Universidad Nacional de Cordoba, de la Republica Argentina, de la
          cual poseo el 50% de aprobacion, estimando recibirme a mediados del año 2025.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>Desarrollador Web Full Stack - Argentina Programa</strong></h3>
      <div class="back-cute">
        <p>
          Curso de Formacion realizado a mediados del año 2022, en el marcio de formacion de Profesionales
          para el area de TI, expendido por el INTI y el Ministerio de Educacion de la Republica Argentina.
        </p>
      </div>
    </div>
  </div>

</section>
