*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  min-height: 100vh;
  height: 100%;
  color: white;
  padding-top: 10rem;
}
@media (min-width: 960px) { /*Tengo que continuar*/
  section{
    width: 960px;
  }
  .main-controller h2 strong{
    font-size: 2.5rem;
  }
  .main-controller{

  }
}
.main-controller{
  display: flex;
  flex-direction: column;
}
.main-controller h2 strong{
  font-size: 3rem;
  text-shadow: 0px 9px 7px #276364;
}
.main-controller h3 strong{
  font-size: 2rem;
}
.experience-info{
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.experience-info .content-expose h5{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.experience-info .content-expose .back-cute p{
  padding-top: 0.4rem;
  font-size: 18px;
}
.back-cute{
  background: #2b5e6b;
  padding: 7px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 35px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 35px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 35px -8px rgba(0,0,0,0.75);
}

/***********BOTONES*************/
.modificadores{
  padding-top: 1.5rem;
}
.modificadores .editar-boton{
  margin-right: 0.8rem;
  /*background-color: #ce8a34;*/
}
.modificadores .eliminar-boton{
  margin-right: 0.8rem;
  background-color: #ce3434;
}
.agregar-boton{
  margin-top: 2rem;
}

/************CARGA EXPERIENCIA****************/
h4{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
}
.form{
  width: 100%;
  max-width: 900px;
  margin-left: 20px;
  display: grid;
  grid-template-columns:  repeat( auto-fill, minmax(800px, 1fr) );
}

form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
form input{
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: #8c95b4;
}

form button{
  /*width: 380px;*/
  height: 65px;
  margin-top: 20px;
  border: none;
  background-color: #7be4e5;
  width: 100%;
}
