<section class="container-fluid main-controller">
  <h2><strong>Experiencia Laboral</strong></h2>
  <div class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>- Desarrollo Prototipo Dispositivo Medicion Humedad a Campo</strong></h3>
      <h5>Modalidad Remota - Cordoba Argentina - 8 meses</h5>
      <div class="back-cute">
        <p>
          En la presente experiencia me desempeñe como Desarrollador para un inversor privado
          en el cual tuve la tarea de generar los modelos fisicos para el dispositivo, su diagrama
          de flujo, gestion del software (C, C++), diseño y funciomaniento de los componentes propios del
          mismo, ademas de los testeos pertinentes para su correcto funcionamiento.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>- Armado y Mantenimiento de Rig's de Mineria</strong></h3>
      <h5>Modalidad: Presencial - Cordoba Argentina - 24 meses</h5>
      <div class="back-cute">
        <p>
          Me especialice en el armado y gestion de Rig's de Mineria, en el cual tuve que encargarme
          de la gestion de los componentes usados, su correcta vinculacion entre los distintos equipos presentes,
          gestion del software para su monitoreo, gestion de transacciones realizadas, y control de calidad del predio
          donde se encontraba dicho emprendimiento.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>- Desarrollador Full Stack - Freelancer</strong></h3>
      <h5>Modalidad: Remota - Cordoba Argentina - Actualmente</h5>
      <div class="back-cute">
        <p>
          Actualmente, me encuentro desarrollando distintas Paginas Webs para distintos clientes,
          esperando de esta manera poder obtener experiencia de las mismas, y poder asi incrementar
          mis conocimientos en el Area.
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div *ngFor="let laboral of laborales" class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>- {{laboral.nombreExperiencia}}</strong></h3>
      <h5>Modalidad: {{laboral.modalidadExperiencia}}  ({{laboral.lugarExperiencia}})</h5>
      <h5>Periodo: {{laboral.periodoExperiencia}} meses</h5>
      <div class="back-cute">
        <p>
          {{laboral.contenidoExperiencia}}
        </p>
      </div>
      <div *ngIf="verifyLogged()" class="modificadores">
        <button type="button" class="btn btn-success editar-boton" (click)="editarExperienciaLaboral(laboral.id)">Editar</button>
        <button type="button" class="btn btn-danger eliminar-boton" (click)="eliminarExperienciaLaboral(laboral.id)">Eliminar</button>
      </div>
    </div>
  </div>


  <div *ngIf="verifyLoggedAFK()==false">
    <div *ngFor="let laboral of laborales" class="container-fluid experience-info">
      <div class="content-expose">
        <h3><strong>- {{laboral.nombreExperiencia}}</strong></h3>
        <h5>Modalidad: {{laboral.modalidadExperiencia}}  ({{laboral.lugarExperiencia}})</h5>
        <h5>Periodo: {{laboral.periodoExperiencia}} meses</h5>
        <div class="back-cute">
          <p>
            {{laboral.contenidoExperiencia}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="verifyLogged()">
    <button type="button" class="btn btn-info agregar-boton" (click)="crearExperiencia()">Agregar nueva Experiencia Laboral</button>
  </div>

  <div *ngIf="editOn()">
    <div *ngFor="let laboral of laborales">
      <div *ngIf="laboral.id == getIdSeteado()">
        <form class="form" [formGroup]="formulario" (ngSubmit)="modificarExperiencia()">
          {{setId(laboral.id)}}
          <label>Nombre Experiencia: <strong>{{laboral.nombreExperiencia}}</strong></label>
          <input type="text" placeholder="Nuevo Nombre Experiencia" formControlName="nombreExperiencia" required>
          <label>Modalidad de Trabajo: <strong>{{laboral.modalidadExperiencia}}</strong></label>
          <input type="text" placeholder="Nueva Modalidad Experiencia" formControlName="modalidadExperiencia" required>
          <label>Lugar de Trabajo: <strong>{{laboral.lugarExperiencia}}</strong></label>
          <input type="text" placeholder="Nuevo Lugar" formControlName="lugarExperiencia" required>
          <label>Periodo de Trabajo: <strong>{{laboral.periodoExperiencia}}</strong></label>
          <input type="text" placeholder="Nuevo Periodo" formControlName="periodoExperiencia" required>
          <label>Contenido de la Experiencia Laboral: <strong>{{laboral.contenidoExperiencia}}</strong></label>
          <input type="text" placeholder="Nuevo Contenido" formControlName="contenidoExperiencia" required>
          <button>Guardar</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="getFlag() && verifyLogged()">
    <br>
    <br>
    <h4>AGREGAR NUEVA EXPERIENCIA LABORAL</h4>
    <form class="form" [formGroup]="formulario" (ngSubmit)="registrarExperiencia()">
      <label>Nombre de la Experiencia Laboral</label>
      <input type="text" placeholder="Nombre Experiencia" formControlName="nombreExperiencia" required>
      <label>Modalidad de la Experiencia Laboral</label>
      <input type="text" placeholder="Modalidad Experiencia" formControlName="modalidadExperiencia" required>
      <label>Lugar de Trabajo</label>
      <input type="text" placeholder="Lugar" formControlName="lugarExperiencia" required>
      <label>Periodo de Trabajo</label>
      <input type="text" placeholder="Periodo" formControlName="periodoExperiencia" required>
      <label>Contenido de la Experiencia Laboral</label>
      <input type="text" placeholder="Contenido" formControlName="contenidoExperiencia" required>
      <button>Guardar</button>
    </form>
  </div>
</section>
