<section class="container-fluid main-controller">
  <h2><strong>Experiencia Laboral</strong></h2>
  <div class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>- Desarrollo Prototipo Dispositivo Medicion Humedad a Campo</strong></h3>
      <h5>Modalidad Remota - Cordoba Argentina - 8 meses</h5>
      <div class="back-cute">
        <p>
          En la presente experiencia me desempeñe como Desarrollador para un inversor privado
          en el cual tuve la tarea de generar los modelos fisicos para el dispositivo, su diagrama
          de flujo, gestion del software (C, C++), diseño y funciomaniento de los componentes propios del
          mismo, ademas de los testeos pertinentes para su correcto funcionamiento.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>- Armado y Mantenimiento de Rig's de Mineria</strong></h3>
      <h5>Modalidad: Presencial - Cordoba Argentina - 24 meses</h5>
      <div class="back-cute">
        <p>
          Me especialice en el armado y gestion de Rig's de Mineria, en el cual tuve que encargarme
          de la gestion de los componentes usados, su correcta vinculacion entre los distintos equipos presentes,
          gestion del software para su monitoreo, gestion de transacciones realizadas, y control de calidad del predio
          donde se encontraba dicho emprendimiento.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid experience-info">
    <div class="content-expose">
      <h3><strong>- Desarrollador Full Stack - Freelancer</strong></h3>
      <h5>Modalidad: Remota - Cordoba Argentina - Actualmente</h5>
      <div class="back-cute">
        <p>
          Actualmente, me encuentro desarrollando distintas Paginas Webs para distintos clientes,
          esperando de esta manera poder obtener experiencia de las mismas, y poder asi incrementar
          mis conocimientos en el Area.
        </p>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <div class="container mt-5" *ngIf="contactos">
    <h3>Mis Contactos</h3>
    <table class="mt-5 table table-hover" style="color: white">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contacto of contactos">
          <td>{{ contacto.id }}</td>
          <td>{{ contacto.nombre }}</td>
          <td>{{ contacto.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
